<nav class="navbar has-shadow	">
    <div class="navbar-brand">
        <a class="navbar-item is-size-2 has-text-weight-bold" href="/">
            WEATHER REPORT
        </a>
        <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        {% set navPages = collections.all | eleventyNavigation %}
        <div class="navbar-end ">
            {%- for entry in navPages %}
                <a {% if entry.url == page.url %} class="active navbar-item" {% endif %}
                        class="navbar-item"
                        href="{{ entry.url | url }}">{{ entry.title }}</a>
            {%- endfor %}
        </div>
    </div>
</nav>