---
layout: layout.njk
title: Home | Weather Report
script: /js/pages/city-focus.js
eleventyNavigation:
    key: Home
    order: 1
---

{#The base index.html is running the same page technically as city-focus, although is using the default#}
{#location. So the user is presented with their home city when first loading the site, instead of the dashboard#}
