<footer class="footer has-shadow">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Weather Report
            </p>
        </div>
    </div>
</footer>