  <footer class="footer has-background-black has-text-white">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <img class="image is-16x16 is-inline" src="/images/logo.png" alt="weatheer-report"> Weather Report
        </p>
      </div>
    </div>
  </footer>